.services-box{

	background-color: $color-primary;	
	text-align: center;
	border-radius: 3px;
	box-shadow: 0 1.5rem 4rem rgba(0,0,0, .15);
	transition: transform .3s;

	padding-bottom: 3.5rem;

	


	&:hover{
		background: linear-gradient(to bottom left, $color-secondary, $color-primary);
		transform: translateY(-1.5rem) scale(1.03);
		color: #fff
	}

	&:hover &__link{
		color: #fff
	}

	&:hover &__btn{
		color: $color-primary;
		background-color: #fff;
	}

	&__tittle{
		font-size: 1.7rem;
		font-family: "Lato-Black", sans-serif;
		padding-top: 5rem;
		padding-bottom: 1.5rem;

	}

	&__link{
		display: block;
		color: #101010;
		font-family: "Lato-Regular", sans-serif;
		font-size: 1.4rem;
		text-decoration: underline;
		margin-bottom: 1rem;

	}

	&__btn{
		font-family: 'Lato-Bold', sans-serif;
		font-size: 1.3rem;
		background-color: #1b1b1b;
		padding: .3rem 2.2rem;
		color: #fff;
		border-radius: 3px;


	}


}