

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="footer__tittle">HAQQIMIZDA</h3>
                <div class="line"></div>
                <p class="footer__text">Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur.Quisque sollicitudin feugiat risus, eu posuere ex euismod eu.
                </p>

                <a href="#" class="btn footer__btn" title="">ƏTRAFLI</a>

            </div>

            <div class="col-md-4 offset-md-2">
                <h3 class="footer__tittle">OFİS</h3>
                <div class="line"></div>

                <div class="footer__adress">    
                    <i class="fa fa-map-marker" aria-hidden="true"></i>             
                    <p> Nərimanov ray., Əhməd Rəcəbli 209, 
                    Qobustan Plaza 3-cü mərtəbə, otaq 10. </p>
                </div>

                <div class="footer__phone">     
                    <i class="fa fa-mobile" aria-hidden="true"></i>             
                    <p>+994 55 555 62 55</p>
                </div>

                <div class="footer__mail">      
                    <i class="fa fa-envelope" aria-hidden="true"></i>           
                    <p> info@gtservices.az</p>
                </div>

                <div class="social">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="js/vendor/modernizr-3.5.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.js" type="text/javascript" charset="utf-8" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.3/owl.carousel.js" type="text/javascript" charset="utf-8" ></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGlDotzPyE2OLkfvIfrXrXu2uNUA-_e_U&callback=initMap">
</script>

<script src="js/plugins.js"></script>
<script src="js/all.min.js"></script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
    window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
    ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>
