<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

  <!--  Owl stylesheet  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.3/assets/owl.carousel.css">

  <!-- Varsayılan tema -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.3/assets/owl.theme.default.css">


  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
  <link rel="stylesheet" href="css/main/main.css">
</head>
<body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
          <![endif]-->


          <header id="header" class="header2">
            <div class="container">
             <div class="header__info header__info--white">
               <p class="header__info-mail">info@gtservices.az</p>
               <p class="header__info-tel">+99412 555 62 55</p>

               <div class="btn-group btn-group--white">
                <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  AZ
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">EN</a>
                  <a class="dropdown-item" href="#">RU</a>
                  <a class="dropdown-item" href="#">TR</a>
                </div>
              </div>

            </div>

            <nav class="navbar navbar-expand-lg">
              <a class="navbar-brand" href="index.php"><img class="img-fluid logo" src="img/logo2.png" alt=""></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
               <i class="fa fa-bars" aria-hidden="true"></i>
             </button>

             <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav ml-auto mt-2 mt-lg-0 ">
                <li class="nav-item ">
                  <a class="nav-link active" href="haqqimizda.html">Haqqımızda </a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    xidmetler
                  </a>
                  <div class="dropdown-menu dropdown-menu--white" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="#">üstünlüklerimiz</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="#">işlerimiz</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="blog.html">xeberler</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="kareyera.html">karıyera</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="contact.html">elaqe</a>
                </li>
              </ul>

            </div>
          </nav>



        </div>
      </header><!-- /header -->

