.xeberleric {
	padding-bottom: 12rem;

	// .owl-carousel.owl-drag .owl-item {
	// 	max-height: 500px;
	// }

	// .item {
	// 	max-height: 500px;

		img {
			max-height: 500px;
		}
	// }

	.aboutUs__tittle {
		margin-top: 9rem;
	}

	.aboutUs__text {
		margin-top: 5rem;
	}
	
}