$color-primary:#22b573;
$color-secondary:#00a99d;





// GRID
$grid-width: 117rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 2rem;

//FONTS

$lbl: Lato-Black;
$lbo: Lato-Bold;
$lr: Lato-Regular;
$lbi: Lato-BlackItalic;





